{% extends 'base.html' %}

{% block container %}
      <div class="row">

        <div class="col-sm-8 blog-main">
            {% block content %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Featured Quote:</h4>
            <p>The best skier on the mountain is the one having the most fun.</p>
            <em>Doug Coombs</em>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="/archive/3">March 2018</a></li>
              <li><a href="/archive/2">February 2018</a></li>
              <li><a href="/archive/1">January 2018</a></li>
              <li><a href="/archive/12">December 2018</a></li>
              <li><a href="/archive/11">November 2018</a></li>
              <li><a href="/archive/10">October 2018</a></li>
              <li><a href="/archive/9">September 2018</a></li>
              <li><a href="/archive/8">August 2018</a></li>
              <li><a href="/archive/7">July 2018</a></li>
              <li><a href="/archive/6">June 2018</a></li>
              <li><a href="/archive/5">May 2018</a></li>
              <li><a href="/archive/4">April 2018</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Other Work</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/markweese" target="_blank">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/mark-brewer-25696194/" target="_blank">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{% endblock %}
